{% extends 'landing/base.html' %}
{% load static %}
{% block title %}Task1{% endblock %}
{% block content %}
<h1>
    Для начала познакомимся: напиши свое ФИО, и получишь флаг
</h1>
    <div class="container">
        <form action="" method="POST">{% csrf_token %} <!--тут должна прописываться хуйня которая кидает в форму доп поле, токен, который джанго будет проверять при получении пост запроса, задача играющего написать левую форму, в которой будет это поле прописано ручками, и брутнуть этот токен, либо сделать на странице намек, который подскажет токен (я бы поставил за 200 его, но если не намекать на то, какой токен то можно и за 300)-->
            {{ form.as_p }}
            <button type="submit" onclick="replacelalka()" class="btn btn-primary">Отправить</button>
        </form>
    <div id="flag">
        <p>{{ flag }}</p>
    </div>
    </div>
{% endblock %}